/*GERAL*/
body {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    background-color: #7d7296;
    margin: 0; 
    padding: 0;}

.conteudo {
    max-width: 1000px; /* Largura máxima do conteúdo */
    margin: 40px auto; /* Margem superior de 40px e centraliza horizontalmente */
    padding: 20px; /* Espaçamento interno do conteúdo */
    background-color: #fff; /* Cor de fundo do conteúdo */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */}

h1{
    color: black;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;}

/* Espaçamento no início do parágrafo */
p { 
    text-indent: 30px;}

a {
    color: white;}

.conteudo a :hover{
    color: black;}

/*PÁGINA PRINCIPAL*/
.destaques .cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;}

.destaques .card {
    background-color: #7d7296;
    color: white;
    padding: 20px;
    width: 30%;
    border-radius: 8px;
    text-align: center;}

.destaques .card h3 {
    font-size: 1.5em;}


/*PÁGINA SOBRE MIM*/
/*Para deixar as fotos centralizadas e em um tamanho ideal*/
.foto {
    text-align: center; 
    margin-top: 20px;}

.foto img {
    width: 80%; 
    max-width: 300px; 
    height: auto; 
    border-radius: 10px; 
    object-fit: cover;}

/* PÁGINA CONHECIMENTOS */
.imagem-conteudo {
    display: block; 
    margin-left: auto;  
    margin-right: auto; 
    width: 100%; 
    max-width: 600px; 
    height: auto; 
    border-radius: 8px;
    object-fit: cover; 
    margin-bottom: 20px; /* Espaço entre a imagem e a citação */}

.citacao {
    font-style: italic;
    text-align: center;
    font-size: 1.2em;
    color: #555;
    margin-top: 20px; /* Adiciona um espaçamento superior entre o texto e a citação */}

/*PÁGINA CONTATOS*/
/*Para mim foi a parte mais dificil, deixar os três quadradinhos alinhados e mostrando a imagem e o texto corretamente*/
.redes {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;}

.bloco {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;} 

.bloco:hover {/*Ter a "animação" de pulsando*/
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);}

.bloco a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;}

/* Cores específicas para cada bloco */
.linkedin {
    background-color: #0077B5;}

.email {
    background-color: #D44638;}

.whatsapp {
    background-color: #25D366;}

.bloco img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    object-fit: cover;}

/*Formulário:*/
.formulario-contato {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;}

.formulario-contato label {
    font-weight: bold;
    color: #333;}

.formulario-contato input, .form-contato textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;}

.formulario-contato button {
    padding: 10px 20px;
    background-color: #7d7296;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;}

.formulario-contato button:hover {
    background-color: #5f4e7b;}

.formulario-contato textarea {
    resize: vertical;}


/* MENU*/
.menu {
    padding: 10px 0;
    text-align: center;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: fit-content; /* Ajusta a largura para o conteúdo da tabela */
    margin-left: auto; /* Centraliza o menu */
    margin-right: auto; /* Centraliza o menu */}

.menu a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    display: inline-block;
    padding: 10px 20px;}

.menu a:hover {
    background-color: #7d7296;
    color: white;
    border-radius: 8px;}